<div class="repository-items-list">
  <ul *ngIf="repositoryList.length > 0">
    <div style="margin-top: 10"><button class="btn btn-info" style="position: absolute; right: 150; z-index: 10" (click)="gotoReport(historyList)">View Admin Report</button></div><br><br>
    <li *ngFor="let repository of repositoryList | paginate: { itemsPerPage: 5, currentPage: p }; let i = index" class="list-group">
      <div class="list-group-item list-group-item-action flex-column align-items-start" id="pdfTable" #pdfTable>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ repository.name }}</h5>
        </div>
        <p class="mb-1">{{ repository.description }}</p>
        <br>
        <p class="mb-1"><strong>URL:</strong> <a href="{{ repository.html_url }}" target="_blank">{{ repository.html_url }}</a></p>
        <p class="mb-1"><strong>Forks count:</strong> {{ repository.forks_count }}</p>
        <p class="mb-1"><strong>Stargazers count:</strong> {{ repository.stargazers_count }}</p>
        <p class="mb-1"><strong>Watchers count:</strong> {{ repository.watchers_count }}</p>
        <p class="mb-1">
          <strong>Open issues:</strong> {{ repository.open_issues_count }}
          <small *ngIf="repository.open_issues_count > 0">(click <a routerLink="/repository/issues/{{ repository.full_name }}">here</a> to check them out.)</small>
        </p>
      </div>
    </li>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ul>
</div>
